<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link  href="{{ asset('css/style.css') }}" rel="stylesheet">
           <link  href="{{ asset('css/form.css') }}" rel="stylesheet">
            <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        {% endblock %}
    </head>

    {% block nav %}
        {% include "nav.html.twig" %}
    {% endblock %}

    <body>
        {% block body %}

        {% endblock %}
    </body>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"></script>
    {% endblock %}
</html>
