{% extends "base.html.twig" %}

{% block body %}
    <div class="flex items-end h-screen w-full justify-center">
        <div class="flex items-start mt-20 h-screen w-full justify-center">

            <!-- User Card -->
            <div class="grid max-w-xs mt-6">
                <div class="bg-white shadow-lg rounded-lg border border-gray-800">
                    <div class="photo-wrapper pt-3">
                        <img class="w-28 h-28 rounded-full mx-auto shadow-lg" src={{ user.picture }} alt="Picture user">
                    </div>
                    <div class="">
                        <div class="container">
                            {{ form_start(form) }}
                            {{ form(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="user.js"></script>
{% endblock %}